---
import Layout from "../layouts/Layout.astro";
import TalkLink from "../components/TalkLink.astro";
import { talk2022 } from "../data/talks/talkList";
---

<Layout title="Yoshiaki Togami | Talks">
  <main class="Talk">
      <h2>Talk</h2>
      <article>
        <h2 class="Talk__year">2022</h2>
        {
          talk2022.map((talk) => (
            <TalkLink
              url={talk.url}
              title={talk.title}
              date={talk.date}
              eventName={talk.eventName}
              ja={talk.ja}
            />
          ))
        }
      </article>
  </main>
</Layout>

<style>
  .Talk {
    max-width: 40rem;
    margin: 12px auto;
  }

  .Talk__year {
    font-size: 1.5rem;
  }

  article {
    margin: 3rem 0;
  }

  @media (max-width: 480px) {
    .Talk__Title {
      font-size: 1rem;
    }
    .Talk {
      padding: 0 1.5rem;
    }
  }

</style>
